
.column {
	display: block;
	flex-basis: 0;
	flex-grow: 1;
	flex-shrink: 1;
	padding: .75rem
}

.columns {
	margin-left: -0.75rem;
	margin-right: -0.75rem;
	margin-top: -0.75rem
}

.columns.is_mobile>.column.is_narrow {
	flex: none;
	width: unset
}

.columns.is_mobile>.column.is_full {
	flex: none;
	width: 100%
}

.columns.is_mobile>.column.is_three_quarters {
	flex: none;
	width: 75%
}

.columns.is_mobile>.column.is_two_thirds {
	flex: none;
	width: 66.6666%
}

.columns.is_mobile>.column.is_half {
	flex: none;
	width: 50%
}

.columns.is_mobile>.column.is_one_third {
	flex: none;
	width: 33.3333%
}

.columns.is_mobile>.column.is_one_quarter {
	flex: none;
	width: 25%
}

.columns.is_mobile>.column.is_one_fifth {
	flex: none;
	width: 20%
}

.columns.is_mobile>.column.is_two_fifths {
	flex: none;
	width: 40%
}

.columns.is_mobile>.column.is_three_fifths {
	flex: none;
	width: 60%
}

.columns.is_mobile>.column.is_four_fifths {
	flex: none;
	width: 80%
}

.columns.is_mobile>.column.is_offset_three_quarters {
	margin-left: 75%
}

.columns.is_mobile>.column.is_offset_two_thirds {
	margin-left: 66.6666%
}

.columns.is_mobile>.column.is_offset_half {
	margin-left: 50%
}

.columns.is_mobile>.column.is_offset_one_third {
	margin-left: 33.3333%
}

.columns.is_mobile>.column.is_offset_one_quarter {
	margin-left: 25%
}

.columns.is_mobile>.column.is_offset_one_fifth {
	margin-left: 20%
}

.columns.is_mobile>.column.is_offset_two_fifths {
	margin-left: 40%
}

.columns.is_mobile>.column.is_offset_three_fifths {
	margin-left: 60%
}

.columns.is_mobile>.column.is_offset_four_fifths {
	margin-left: 80%
}

.columns.is_mobile>.column.is_0 {
	flex: none;
	width: 0%
}

.columns.is_mobile>.column.is_offset_0 {
	margin-left: 0%
}

.columns.is_mobile>.column.is_1 {
	flex: none;
	width: 8.33333%
}

.columns.is_mobile>.column.is_offset_1 {
	margin-left: 8.33333%
}

.columns.is_mobile>.column.is_2 {
	flex: none;
	width: 16.66667%
}

.columns.is_mobile>.column.is_offset_2 {
	margin-left: 16.66667%
}

.columns.is_mobile>.column.is_3 {
	flex: none;
	width: 25%
}

.columns.is_mobile>.column.is_offset_3 {
	margin-left: 25%
}

.columns.is_mobile>.column.is_4 {
	flex: none;
	width: 33.33333%
}

.columns.is_mobile>.column.is_offset_4 {
	margin-left: 33.33333%
}

.columns.is_mobile>.column.is_5 {
	flex: none;
	width: 41.66667%
}

.columns.is_mobile>.column.is_offset_5 {
	margin-left: 41.66667%
}

.columns.is_mobile>.column.is_6 {
	flex: none;
	width: 50%
}

.columns.is_mobile>.column.is_offset_6 {
	margin-left: 50%
}

.columns.is_mobile>.column.is_7 {
	flex: none;
	width: 58.33333%
}

.columns.is_mobile>.column.is_offset_7 {
	margin-left: 58.33333%
}

.columns.is_mobile>.column.is_8 {
	flex: none;
	width: 66.66667%
}

.columns.is_mobile>.column.is_offset_8 {
	margin-left: 66.66667%
}

.columns.is_mobile>.column.is_9 {
	flex: none;
	width: 75%
}

.columns.is_mobile>.column.is_offset_9 {
	margin-left: 75%
}

.columns.is_mobile>.column.is_10 {
	flex: none;
	width: 83.33333%
}

.columns.is_mobile>.column.is_offset_10 {
	margin-left: 83.33333%
}

.columns.is_mobile>.column.is_11 {
	flex: none;
	width: 91.66667%
}

.columns.is_mobile>.column.is_offset_11 {
	margin-left: 91.66667%
}

.columns.is_mobile>.column.is_12 {
	flex: none;
	width: 100%
}

.columns.is_mobile>.column.is_offset_12 {
	margin-left: 100%
}

.columns:last-child {
	margin-bottom: -0.75rem
}

.columns:not(:last-child) {
	margin-bottom: .75rem
}

.columns.is_centered {
	justify-content: center
}

.columns.is_gapless {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0
}

.columns.is_gapless>.column {
	margin: 0;
	padding: 0 !important
}

.columns.is_gapless:not(:last-child) {
	margin-bottom: 1.5rem
}

.columns.is_gapless:last-child {
	margin-bottom: 0
}

.columns.is_sm_gap>.column {
	padding: .45rem
}

.columns.is_mobile {
	display: flex
}

.columns.is_multiline {
	flex-wrap: wrap
}

.columns.is_vcentered {
	align-items: center
}

.columns.is_variable {
	--columnGap: 0.75rem;
	margin-left: calc(-1*var(--columnGap));
	margin-right: calc(-1*var(--columnGap))
}

.columns.is_variable>.column {
	padding-left: var(--columnGap);
	padding-right: var(--columnGap)
}

.columns.is_variable.is_0 {
	--columnGap: 0rem
}

.columns.is_variable.is_1 {
	--columnGap: 0.25rem
}

.columns.is_variable.is_2 {
	--columnGap: 0.5rem
}

.columns.is_variable.is_3 {
	--columnGap: 0.75rem
}

.columns.is_variable.is_4 {
	--columnGap: 1rem
}

.columns.is_variable.is_5 {
	--columnGap: 1.25rem
}

.columns.is_variable.is_6 {
	--columnGap: 1.5rem
}

.columns.is_variable.is_7 {
	--columnGap: 1.75rem
}

.columns.is_variable.is_8 {
	--columnGap: 2rem
}

@media screen and (min-width: 481px) {
	.column.desktop-only {
		display: block
	}

	.column.mobile-only {
		display: none
	}
}

@media screen and (max-width: 768px) {
	.column.is_narrow_mobile {
		flex: none;
		width: unset
	}

	.column.is_full_mobile {
		flex: none;
		width: 100%
	}

	.column.is_three_quarters_mobile {
		flex: none;
		width: 75%
	}

	.column.is_two_thirds_mobile {
		flex: none;
		width: 66.6666%
	}

	.column.is_half_mobile {
		flex: none;
		width: 50%
	}

	.column.is_one_third_mobile {
		flex: none;
		width: 33.3333%
	}

	.column.is_one_quarter_mobile {
		flex: none;
		width: 25%
	}

	.column.is_one_fifth_mobile {
		flex: none;
		width: 20%
	}

	.column.is_two_fifths_mobile {
		flex: none;
		width: 40%
	}

	.column.is_three_fifths_mobile {
		flex: none;
		width: 60%
	}

	.column.is_four_fifths_mobile {
		flex: none;
		width: 80%
	}

	.column.is_offset_three_quarters_mobile {
		margin-left: 75%
	}

	.column.is_offset_two_thirds_mobile {
		margin-left: 66.6666%
	}

	.column.is_offset_half_mobile {
		margin-left: 50%
	}

	.column.is_offset_one_third_mobile {
		margin-left: 33.3333%
	}

	.column.is_offset_one_quarter_mobile {
		margin-left: 25%
	}

	.column.is_offset_one_fifth_mobile {
		margin-left: 20%
	}

	.column.is_offset_two_fifths_mobile {
		margin-left: 40%
	}

	.column.is_offset_three_fifths_mobile {
		margin-left: 60%
	}

	.column.is_offset_four_fifths_mobile {
		margin-left: 80%
	}

	.column.is_0_mobile {
		flex: none;
		width: 0%
	}

	.column.is_offset_0_mobile {
		margin-left: 0%
	}

	.column.is_1_mobile {
		flex: none;
		width: 8.33333%
	}

	.column.is_offset_1_mobile {
		margin-left: 8.33333%
	}

	.column.is_2_mobile {
		flex: none;
		width: 16.66667%
	}

	.column.is_offset_2_mobile {
		margin-left: 16.66667%
	}

	.column.is_3_mobile {
		flex: none;
		width: 25%
	}

	.column.is_offset_3_mobile {
		margin-left: 25%
	}

	.column.is_4_mobile {
		flex: none;
		width: 33.33333%
	}

	.column.is_offset_4_mobile {
		margin-left: 33.33333%
	}

	.column.is_5_mobile {
		flex: none;
		width: 41.66667%
	}

	.column.is_offset_5_mobile {
		margin-left: 41.66667%
	}

	.column.is_6_mobile {
		flex: none;
		width: 50%
	}

	.column.is_offset_6_mobile {
		margin-left: 50%
	}

	.column.is_7_mobile {
		flex: none;
		width: 58.33333%
	}

	.column.is_offset_7_mobile {
		margin-left: 58.33333%
	}

	.column.is_8_mobile {
		flex: none;
		width: 66.66667%
	}

	.column.is_offset_8_mobile {
		margin-left: 66.66667%
	}

	.column.is_9_mobile {
		flex: none;
		width: 75%
	}

	.column.is_offset_9_mobile {
		margin-left: 75%
	}

	.column.is_10_mobile {
		flex: none;
		width: 83.33333%
	}

	.column.is_offset_10_mobile {
		margin-left: 83.33333%
	}

	.column.is_11_mobile {
		flex: none;
		width: 91.66667%
	}

	.column.is_offset_11_mobile {
		margin-left: 91.66667%
	}

	.column.is_12_mobile {
		flex: none;
		width: 100%
	}

	.column.is_offset_12_mobile {
		margin-left: 100%
	}
}

@media screen and (min-width: 769px),
print {

	.column.is_narrow,
	.column.is_narrow_tablet {
		flex: none;
		width: unset
	}

	.column.is_full,
	.column.is_full_tablet {
		flex: none;
		width: 100%
	}

	.column.is_three_quarters,
	.column.is_three_quarters_tablet {
		flex: none;
		width: 75%
	}

	.column.is_two_thirds,
	.column.is_two_thirds_tablet {
		flex: none;
		width: 66.6666%
	}

	.column.is_half,
	.column.is_half_tablet {
		flex: none;
		width: 50%
	}

	.column.is_one_third,
	.column.is_one_third_tablet {
		flex: none;
		width: 33.3333%
	}

	.column.is_one_quarter,
	.column.is_one_quarter_tablet {
		flex: none;
		width: 25%
	}

	.column.is_one_fifth,
	.column.is_one_fifth_tablet {
		flex: none;
		width: 20%
	}

	.column.is_two_fifths,
	.column.is_two_fifths_tablet {
		flex: none;
		width: 40%
	}

	.column.is_three_fifths,
	.column.is_three_fifths_tablet {
		flex: none;
		width: 60%
	}

	.column.is_four_fifths,
	.column.is_four_fifths_tablet {
		flex: none;
		width: 80%
	}

	.column.is_offset_three_quarters,
	.column.is_offset_three_quarters_tablet {
		margin-left: 75%
	}

	.column.is_offset_two_thirds,
	.column.is_offset_two_thirds_tablet {
		margin-left: 66.6666%
	}

	.column.is_offset_half,
	.column.is_offset_half_tablet {
		margin-left: 50%
	}

	.column.is_offset_one_third,
	.column.is_offset_one_third_tablet {
		margin-left: 33.3333%
	}

	.column.is_offset_one_quarter,
	.column.is_offset_one_quarter_tablet {
		margin-left: 25%
	}

	.column.is_offset_one_fifth,
	.column.is_offset_one_fifth_tablet {
		margin-left: 20%
	}

	.column.is_offset_two_fifths,
	.column.is_offset_two_fifths_tablet {
		margin-left: 40%
	}

	.column.is_offset_three_fifths,
	.column.is_offset_three_fifths_tablet {
		margin-left: 60%
	}

	.column.is_offset_four_fifths,
	.column.is_offset_four_fifths_tablet {
		margin-left: 80%
	}

	.column.is_0,
	.column.is_0_tablet {
		flex: none;
		width: 0%
	}

	.column.is_offset_0,
	.column.is_offset_0_tablet {
		margin-left: 0%
	}

	.column.is_1,
	.column.is_1_tablet {
		flex: none;
		width: 8.33333%
	}

	.column.is_offset_1,
	.column.is_offset_1_tablet {
		margin-left: 8.33333%
	}

	.column.is_2,
	.column.is_2_tablet {
		flex: none;
		width: 16.66667%
	}

	.column.is_offset_2,
	.column.is_offset_2_tablet {
		margin-left: 16.66667%
	}

	.column.is_3,
	.column.is_3_tablet {
		flex: none;
		width: 25%
	}

	.column.is_offset_3,
	.column.is_offset_3_tablet {
		margin-left: 25%
	}

	.column.is_4,
	.column.is_4_tablet {
		flex: none;
		width: 33.33333%
	}

	.column.is_offset_4,
	.column.is_offset_4_tablet {
		margin-left: 33.33333%
	}

	.column.is_5,
	.column.is_5_tablet {
		flex: none;
		width: 41.66667%
	}

	.column.is_offset_5,
	.column.is_offset_5_tablet {
		margin-left: 41.66667%
	}

	.column.is_6,
	.column.is_6_tablet {
		flex: none;
		width: 50%
	}

	.column.is_offset_6,
	.column.is_offset_6_tablet {
		margin-left: 50%
	}

	.column.is_7,
	.column.is_7_tablet {
		flex: none;
		width: 58.33333%
	}

	.column.is_offset_7,
	.column.is_offset_7_tablet {
		margin-left: 58.33333%
	}

	.column.is_8,
	.column.is_8_tablet {
		flex: none;
		width: 66.66667%
	}

	.column.is_offset_8,
	.column.is_offset_8_tablet {
		margin-left: 66.66667%
	}

	.column.is_9,
	.column.is_9_tablet {
		flex: none;
		width: 75%
	}

	.column.is_offset_9,
	.column.is_offset_9_tablet {
		margin-left: 75%
	}

	.column.is_10,
	.column.is_10_tablet {
		flex: none;
		width: 83.33333%
	}

	.column.is_offset_10,
	.column.is_offset_10_tablet {
		margin-left: 83.33333%
	}

	.column.is_11,
	.column.is_11_tablet {
		flex: none;
		width: 91.66667%
	}

	.column.is_offset_11,
	.column.is_offset_11_tablet {
		margin-left: 91.66667%
	}

	.column.is_12,
	.column.is_12_tablet {
		flex: none;
		width: 100%
	}

	.column.is_offset_12,
	.column.is_offset_12_tablet {
		margin-left: 100%
	}
}

@media screen and (max-width: 1023px) {
	.column.is_narrow_touch {
		flex: none;
		width: unset
	}

	.column.is_full_touch {
		flex: none;
		width: 100%
	}

	.column.is_three_quarters_touch {
		flex: none;
		width: 75%
	}

	.column.is_two_thirds_touch {
		flex: none;
		width: 66.6666%
	}

	.column.is_half_touch {
		flex: none;
		width: 50%
	}

	.column.is_one_third_touch {
		flex: none;
		width: 33.3333%
	}

	.column.is_one_quarter_touch {
		flex: none;
		width: 25%
	}

	.column.is_one_fifth_touch {
		flex: none;
		width: 20%
	}

	.column.is_two_fifths_touch {
		flex: none;
		width: 40%
	}

	.column.is_three_fifths_touch {
		flex: none;
		width: 60%
	}

	.column.is_four_fifths_touch {
		flex: none;
		width: 80%
	}

	.column.is_offset_three_quarters_touch {
		margin-left: 75%
	}

	.column.is_offset_two_thirds_touch {
		margin-left: 66.6666%
	}

	.column.is_offset_half_touch {
		margin-left: 50%
	}

	.column.is_offset_one_third_touch {
		margin-left: 33.3333%
	}

	.column.is_offset_one_quarter_touch {
		margin-left: 25%
	}

	.column.is_offset_one_fifth_touch {
		margin-left: 20%
	}

	.column.is_offset_two_fifths_touch {
		margin-left: 40%
	}

	.column.is_offset_three_fifthstouch {
		margin-left: 60%
	}

	.column.is_offset_four_fifths_touch {
		margin-left: 80%
	}

	.column.is_0_touch {
		flex: none;
		width: 0%
	}

	.column.is_offset_0_touch {
		margin-left: 0%
	}

	.column.is_1_touch {
		flex: none;
		width: 8.33333%
	}

	.column.is_offset_1_touch {
		margin-left: 8.33333%
	}

	.column.is_2_touch {
		flex: none;
		width: 16.66667%
	}

	.column.is_offset_2_touch {
		margin-left: 16.66667%
	}

	.column.is_3_touch {
		flex: none;
		width: 25%
	}

	.column.is_offset_3_touch {
		margin-left: 25%
	}

	.column.is_4_touch {
		flex: none;
		width: 33.33333%
	}

	.column.is_offset_4_touch {
		margin-left: 33.33333%
	}

	.column.is_5_touch {
		flex: none;
		width: 41.66667%
	}

	.column.is_offset_5_touch {
		margin-left: 41.66667%
	}

	.column.is_6_touch {
		flex: none;
		width: 50%
	}

	.column.is_offset_6_touch {
		margin-left: 50%
	}

	.column.is_7_touch {
		flex: none;
		width: 58.33333%
	}

	.column.is_offset_7_touch {
		margin-left: 58.33333%
	}

	.column.is_8_touch {
		flex: none;
		width: 66.66667%
	}

	.column.is_offset_8_touch {
		margin-left: 66.66667%
	}

	.column.is_9_touch {
		flex: none;
		width: 75%
	}

	.column.is_offset_9_touch {
		margin-left: 75%
	}

	.column.is_10_touch {
		flex: none;
		width: 83.33333%
	}

	.column.is_offset_10_touch {
		margin-left: 83.33333%
	}

	.column.is_11_touch {
		flex: none;
		width: 91.66667%
	}

	.column.is_offset_11_touch {
		margin-left: 91.66667%
	}

	.column.is_12_touch {
		flex: none;
		width: 100%
	}

	.column.is_offset_12_touch {
		margin-left: 100%
	}
}

@media screen and (min-width: 1024px) {
	.column.is_narrow_desktop {
		flex: none;
		width: unset
	}

	.column.is_full_desktop {
		flex: none;
		width: 100%
	}

	.column.is_three_quarters_desktop {
		flex: none;
		width: 75%
	}

	.column.is_two_thirds_desktop {
		flex: none;
		width: 66.6666%
	}

	.column.is_half_desktop {
		flex: none;
		width: 50%
	}

	.column.is_one_third_desktop {
		flex: none;
		width: 33.3333%
	}

	.column.is_one_quarter_desktop {
		flex: none;
		width: 25%
	}

	.column.is_one_fifth_desktop {
		flex: none;
		width: 20%
	}

	.column.is_two_fifths_desktop {
		flex: none;
		width: 40%
	}

	.column.is_three_fifths_desktop {
		flex: none;
		width: 60%
	}

	.column.is_four_fifths_desktop {
		flex: none;
		width: 80%
	}

	.column.is_offset_three_quarters_desktop {
		margin-left: 75%
	}

	.column.is_offset_two_thirds_desktop {
		margin-left: 66.6666%
	}

	.column.is_offset_half_desktop {
		margin-left: 50%
	}

	.column.is_offset_one_third-desktop {
		margin-left: 33.3333%
	}

	.column.is_offset_one_quarter_desktop {
		margin-left: 25%
	}

	.column.is_offset_one_fifth_desktop {
		margin-left: 20%
	}

	.column.is_offset_two_fifths_desktop {
		margin-left: 40%
	}

	.column.is_offset_three_fifths_desktop {
		margin-left: 60%
	}

	.column.is_offset_four_fifths_desktop {
		margin-left: 80%
	}

	.column.is_0_desktop {
		flex: none;
		width: 0%
	}

	.column.is_offset_0_desktop {
		margin-left: 0%
	}

	.column.is_1_desktop {
		flex: none;
		width: 8.33333%
	}

	.column.is_offset_1_desktop {
		margin-left: 8.33333%
	}

	.column.is_2_desktop {
		flex: none;
		width: 16.66667%
	}

	.column.is_offset_2_desktop {
		margin-left: 16.66667%
	}

	.column.is_3_desktop {
		flex: none;
		width: 25%
	}

	.column.is_offset_3_desktop {
		margin-left: 25%
	}

	.column.is_4_desktop {
		flex: none;
		width: 33.33333%
	}

	.column.is_offset_4_desktop {
		margin-left: 33.33333%
	}

	.column.is_5_desktop {
		flex: none;
		width: 41.66667%
	}

	.column.is_offset_5_desktop {
		margin-left: 41.66667%
	}

	.column.is_6_desktop {
		flex: none;
		width: 50%
	}

	.column.is_offset_6_desktop {
		margin-left: 50%
	}

	.column.is_7_desktop {
		flex: none;
		width: 58.33333%
	}

	.column.is_offset_7_desktop {
		margin-left: 58.33333%
	}

	.column.is_8_desktop {
		flex: none;
		width: 66.66667%
	}

	.column.is_offset_8_desktop {
		margin-left: 66.66667%
	}

	.column.is_9_desktop {
		flex: none;
		width: 75%
	}

	.column.is_offset_9_desktop {
		margin-left: 75%
	}

	.column.is_10_desktop {
		flex: none;
		width: 83.33333%
	}

	.column.is_offset_10_desktop {
		margin-left: 83.33333%
	}

	.column.is_11_desktop {
		flex: none;
		width: 91.66667%
	}

	.column.is_offset_11_desktop {
		margin-left: 91.66667%
	}

	.column.is_12_desktop {
		flex: none;
		width: 100%
	}

	.column.is_offset_12_desktop {
		margin-left: 100%
	}
}

@media screen and (min-width: 1216px) {
	.column.is_narrow_widescreen {
		flex: none;
		width: unset
	}

	.column.is_full_widescreen {
		flex: none;
		width: 100%
	}

	.column.is_three_quarters_widescreen {
		flex: none;
		width: 75%
	}

	.column.is_two_thirds_widescreen {
		flex: none;
		width: 66.6666%
	}

	.column.is_half_widescreen {
		flex: none;
		width: 50%
	}

	.column.is_one_third_widescreen {
		flex: none;
		width: 33.3333%
	}

	.column.is_one_quarter_widescreen {
		flex: none;
		width: 25%
	}

	.column.is_one_fifth_widescreen {
		flex: none;
		width: 20%
	}

	.column.is_two_fifths_widescreen {
		flex: none;
		width: 40%
	}

	.column.is_three_fifths_widescreen {
		flex: none;
		width: 60%
	}

	.column.is_four_fifths_widescreen {
		flex: none;
		width: 80%
	}

	.column.is_offset_three_quarters_widescreen {
		margin-left: 75%
	}

	.column.is_offset_two_thirds_widescreen {
		margin-left: 66.6666%
	}

	.column.is_offset_half_widescreen {
		margin-left: 50%
	}

	.column.is_offset_one_third-widescreen {
		margin-left: 33.3333%
	}

	.column.is_offset_one_quarter_widescreen {
		margin-left: 25%
	}

	.column.is_offset_one_fifth_widescreen {
		margin-left: 20%
	}

	.column.is_offset_two_fifths_widescreen {
		margin-left: 40%
	}

	.column.is_offset_three_fifths_widescreen {
		margin-left: 60%
	}

	.column.is_offset_four_fifths_widescreen {
		margin-left: 80%
	}

	.column.is_0_widescreen {
		flex: none;
		width: 0%
	}

	.column.is_offset_0_widescreen {
		margin-left: 0%
	}

	.column.is_1_widescreen {
		flex: none;
		width: 8.33333%
	}

	.column.is_offset_1_widescreen {
		margin-left: 8.33333%
	}

	.column.is_2_widescreen {
		flex: none;
		width: 16.66667%
	}

	.column.is_offset_2_widescreen {
		margin-left: 16.66667%
	}

	.column.is_3_widescreen {
		flex: none;
		width: 25%
	}

	.column.is_offset_3_widescreen {
		margin-left: 25%
	}

	.column.is_4_widescreen {
		flex: none;
		width: 33.33333%
	}

	.column.is_offset_4_widescreen {
		margin-left: 33.33333%
	}

	.column.is_5_widescreen {
		flex: none;
		width: 41.66667%
	}

	.column.is_offset_5_widescreen {
		margin-left: 41.66667%
	}

	.column.is_6_widescreen {
		flex: none;
		width: 50%
	}

	.column.is_offset_6_widescreen {
		margin-left: 50%
	}

	.column.is_7_widescreen {
		flex: none;
		width: 58.33333%
	}

	.column.is_offset_7_widescreen {
		margin-left: 58.33333%
	}

	.column.is_8_widescreen {
		flex: none;
		width: 66.66667%
	}

	.column.is_offset_8_widescreen {
		margin-left: 66.66667%
	}

	.column.is_9_widescreen {
		flex: none;
		width: 75%
	}

	.column.is_offset_9_widescreen {
		margin-left: 75%
	}

	.column.is_10_widescreen {
		flex: none;
		width: 83.33333%
	}

	.column.is_offset_10_widescreen {
		margin-left: 83.33333%
	}

	.column.is_11_widescreen {
		flex: none;
		width: 91.66667%
	}

	.column.is_offset_11_widescreen {
		margin-left: 91.66667%
	}

	.column.is_12_widescreen {
		flex: none;
		width: 100%
	}

	.column.is_offset_12_widescreen {
		margin-left: 100%
	}
}

@media screen and (min-width: 1408px) {
	.column.is_narrow_fullhd {
		flex: none;
		width: unset
	}

	.column.is_full_fullhd {
		flex: none;
		width: 100%
	}

	.column.is_three_quarters_fullhd {
		flex: none;
		width: 75%
	}

	.column.is_two_thirds_fullhd {
		flex: none;
		width: 66.6666%
	}

	.column.is_half_fullhd {
		flex: none;
		width: 50%
	}

	.column.is_one_third_fullhd {
		flex: none;
		width: 33.3333%
	}

	.column.is_one_quarter_fullhd {
		flex: none;
		width: 25%
	}

	.column.is_one_fifth_fullhd {
		flex: none;
		width: 20%
	}

	.column.is_two_fifths_fullhd {
		flex: none;
		width: 40%
	}

	.column.is_three_fifths_fullhd {
		flex: none;
		width: 60%
	}

	.column.is_four_fifths_fullhd {
		flex: none;
		width: 80%
	}

	.column.is_offset_three_quarters_fullhd {
		margin-left: 75%
	}

	.column.is_offset_two_thirds_fullhd {
		margin-left: 66.6666%
	}

	.column.is_offset_half_fullhd {
		margin-left: 50%
	}

	.column.is_offset_one_third-fullhd {
		margin-left: 33.3333%
	}

	.column.is_offset_one_quarter_fullhd {
		margin-left: 25%
	}

	.column.is_offset_one_fifth_fullhd {
		margin-left: 20%
	}

	.column.is_offset_two_fifths_fullhd {
		margin-left: 40%
	}

	.column.is_offset_three_fifths_fullhd {
		margin-left: 60%
	}

	.column.is_offset_four_fifths_fullhd {
		margin-left: 80%
	}

	.column.is_0_fullhd {
		flex: none;
		width: 0%
	}

	.column.is_offset_0_fullhd {
		margin-left: 0%
	}

	.column.is_1_fullhd {
		flex: none;
		width: 8.33333%
	}

	.column.is_offset_1_fullhd {
		margin-left: 8.33333%
	}

	.column.is_2_fullhd {
		flex: none;
		width: 16.66667%
	}

	.column.is_offset_2_fullhd {
		margin-left: 16.66667%
	}

	.column.is_3_fullhd {
		flex: none;
		width: 25%
	}

	.column.is_offset_3_fullhd {
		margin-left: 25%
	}

	.column.is_4_fullhd {
		flex: none;
		width: 33.33333%
	}

	.column.is_offset_4_fullhd {
		margin-left: 33.33333%
	}

	.column.is_5_fullhd {
		flex: none;
		width: 41.66667%
	}

	.column.is_offset_5_fullhd {
		margin-left: 41.66667%
	}

	.column.is_6_fullhd {
		flex: none;
		width: 50%
	}

	.column.is_offset_6_fullhd {
		margin-left: 50%
	}

	.column.is_7_fullhd {
		flex: none;
		width: 58.33333%
	}

	.column.is_offset_7_fullhd {
		margin-left: 58.33333%
	}

	.column.is_8_fullhd {
		flex: none;
		width: 66.66667%
	}

	.column.is_offset_8_fullhd {
		margin-left: 66.66667%
	}

	.column.is_9_fullhd {
		flex: none;
		width: 75%
	}

	.column.is_offset_9_fullhd {
		margin-left: 75%
	}

	.column.is_10_fullhd {
		flex: none;
		width: 83.33333%
	}

	.column.is_offset_10_fullhd {
		margin-left: 83.33333%
	}

	.column.is_11_fullhd {
		flex: none;
		width: 91.66667%
	}

	.column.is_offset_11_fullhd {
		margin-left: 91.66667%
	}

	.column.is_12_fullhd {
		flex: none;
		width: 100%
	}

	.column.is_offset_12_fullhd {
		margin-left: 100%
	}
}

@media screen and (min-width: 769px),
print {
	.columns:not(.is_desktop) {
		display: flex
	}
}

@media screen and (min-width: 1024px) {
	.columns.is_desktop {
		display: flex
	}
}

@media screen and (max-width: 768px) {
	.columns.is_variable.is_0_mobile {
		--columnGap: 0rem
	}
}

@media screen and (min-width: 769px),
print {
	.columns.is_variable.is_0_tablet {
		--columnGap: 0rem
	}
}

@media screen and (min-width: 769px)and (max-width: 1023px) {
	.columns.is_variable.is_0_tablet-only {
		--columnGap: 0rem
	}
}

@media screen and (max-width: 1023px) {
	.columns.is_variable.is_0_touch {
		--columnGap: 0rem
	}
}

@media screen and (min-width: 1024px) {
	.columns.is_variable.is_0_desktop {
		--columnGap: 0rem
	}
}

@media screen and (min-width: 1024px)and (max-width: 1215px) {
	.columns.is_variable.is_0_desktop-only {
		--columnGap: 0rem
	}
}

@media screen and (min-width: 1216px) {
	.columns.is_variable.is_0_widescreen {
		--columnGap: 0rem
	}
}

@media screen and (min-width: 1216px)and (max-width: 1407px) {
	.columns.is_variable.is_0_widescreen-only {
		--columnGap: 0rem
	}
}

@media screen and (min-width: 1408px) {
	.columns.is_variable.is_0_fullhd {
		--columnGap: 0rem
	}
}

@media screen and (max-width: 768px) {
	.columns.is_variable.is_1_mobile {
		--columnGap: 0.25rem
	}
}

@media screen and (min-width: 769px),
print {
	.columns.is_variable.is_1_tablet {
		--columnGap: 0.25rem
	}
}

@media screen and (min-width: 769px)and (max-width: 1023px) {
	.columns.is_variable.is_1_tablet-only {
		--columnGap: 0.25rem
	}
}

@media screen and (max-width: 1023px) {
	.columns.is_variable.is_1_touch {
		--columnGap: 0.25rem
	}
}

@media screen and (min-width: 1024px) {
	.columns.is_variable.is_1_desktop {
		--columnGap: 0.25rem
	}
}

@media screen and (min-width: 1024px)and (max-width: 1215px) {
	.columns.is_variable.is_1_desktop-only {
		--columnGap: 0.25rem
	}
}

@media screen and (min-width: 1216px) {
	.columns.is_variable.is_1_widescreen {
		--columnGap: 0.25rem
	}
}

@media screen and (min-width: 1216px)and (max-width: 1407px) {
	.columns.is_variable.is_1_widescreen-only {
		--columnGap: 0.25rem
	}
}

@media screen and (min-width: 1408px) {
	.columns.is_variable.is_1_fullhd {
		--columnGap: 0.25rem
	}
}

@media screen and (max-width: 768px) {
	.columns.is_variable.is_2_mobile {
		--columnGap: 0.5rem
	}
}

@media screen and (min-width: 769px),
print {
	.columns.is_variable.is_2_tablet {
		--columnGap: 0.5rem
	}
}

@media screen and (min-width: 769px)and (max-width: 1023px) {
	.columns.is_variable.is_2_tablet-only {
		--columnGap: 0.5rem
	}
}

@media screen and (max-width: 1023px) {
	.columns.is_variable.is_2_touch {
		--columnGap: 0.5rem
	}
}

@media screen and (min-width: 1024px) {
	.columns.is_variable.is_2_desktop {
		--columnGap: 0.5rem
	}
}

@media screen and (min-width: 1024px)and (max-width: 1215px) {
	.columns.is_variable.is_2_desktop-only {
		--columnGap: 0.5rem
	}
}

@media screen and (min-width: 1216px) {
	.columns.is_variable.is_2_widescreen {
		--columnGap: 0.5rem
	}
}

@media screen and (min-width: 1216px)and (max-width: 1407px) {
	.columns.is_variable.is_2_widescreen-only {
		--columnGap: 0.5rem
	}
}

@media screen and (min-width: 1408px) {
	.columns.is_variable.is_2_fullhd {
		--columnGap: 0.5rem
	}
}

@media screen and (max-width: 768px) {
	.columns.is_variable.is_3_mobile {
		--columnGap: 0.75rem
	}
}

@media screen and (min-width: 769px),
print {
	.columns.is_variable.is_3_tablet {
		--columnGap: 0.75rem
	}
}

@media screen and (min-width: 769px)and (max-width: 1023px) {
	.columns.is_variable.is_3_tablet-only {
		--columnGap: 0.75rem
	}
}

@media screen and (max-width: 1023px) {
	.columns.is_variable.is_3_touch {
		--columnGap: 0.75rem
	}
}

@media screen and (min-width: 1024px) {
	.columns.is_variable.is_3_desktop {
		--columnGap: 0.75rem
	}
}

@media screen and (min-width: 1024px)and (max-width: 1215px) {
	.columns.is_variable.is_3_desktop-only {
		--columnGap: 0.75rem
	}
}

@media screen and (min-width: 1216px) {
	.columns.is_variable.is_3_widescreen {
		--columnGap: 0.75rem
	}
}

@media screen and (min-width: 1216px)and (max-width: 1407px) {
	.columns.is_variable.is_3_widescreen-only {
		--columnGap: 0.75rem
	}
}

@media screen and (min-width: 1408px) {
	.columns.is_variable.is_3_fullhd {
		--columnGap: 0.75rem
	}
}

@media screen and (max-width: 768px) {
	.columns.is_variable.is_4_mobile {
		--columnGap: 1rem
	}
}

@media screen and (min-width: 769px),
print {
	.columns.is_variable.is_4_tablet {
		--columnGap: 1rem
	}
}

@media screen and (min-width: 769px)and (max-width: 1023px) {
	.columns.is_variable.is_4_tablet-only {
		--columnGap: 1rem
	}
}

@media screen and (max-width: 1023px) {
	.columns.is_variable.is_4_touch {
		--columnGap: 1rem
	}
}

@media screen and (min-width: 1024px) {
	.columns.is_variable.is_4_desktop {
		--columnGap: 1rem
	}
}

@media screen and (min-width: 1024px)and (max-width: 1215px) {
	.columns.is_variable.is_4_desktop-only {
		--columnGap: 1rem
	}
}

@media screen and (min-width: 1216px) {
	.columns.is_variable.is_4_widescreen {
		--columnGap: 1rem
	}
}

@media screen and (min-width: 1216px)and (max-width: 1407px) {
	.columns.is_variable.is_4_widescreen-only {
		--columnGap: 1rem
	}
}

@media screen and (min-width: 1408px) {
	.columns.is_variable.is_4_fullhd {
		--columnGap: 1rem
	}
}

@media screen and (max-width: 768px) {
	.columns.is_variable.is_5_mobile {
		--columnGap: 1.25rem
	}
}

@media screen and (min-width: 769px),
print {
	.columns.is_variable.is_5_tablet {
		--columnGap: 1.25rem
	}
}

@media screen and (min-width: 769px)and (max-width: 1023px) {
	.columns.is_variable.is_5_tablet-only {
		--columnGap: 1.25rem
	}
}

@media screen and (max-width: 1023px) {
	.columns.is_variable.is_5_touch {
		--columnGap: 1.25rem
	}
}

@media screen and (min-width: 1024px) {
	.columns.is_variable.is_5_desktop {
		--columnGap: 1.25rem
	}
}

@media screen and (min-width: 1024px)and (max-width: 1215px) {
	.columns.is_variable.is_5_desktop-only {
		--columnGap: 1.25rem
	}
}

@media screen and (min-width: 1216px) {
	.columns.is_variable.is_5_widescreen {
		--columnGap: 1.25rem
	}
}

@media screen and (min-width: 1216px)and (max-width: 1407px) {
	.columns.is_variable.is_5_widescreen-only {
		--columnGap: 1.25rem
	}
}

@media screen and (min-width: 1408px) {
	.columns.is_variable.is_5_fullhd {
		--columnGap: 1.25rem
	}
}

@media screen and (max-width: 768px) {
	.columns.is_variable.is_6_mobile {
		--columnGap: 1.5rem
	}
}

@media screen and (min-width: 769px),
print {
	.columns.is_variable.is_6_tablet {
		--columnGap: 1.5rem
	}
}

@media screen and (min-width: 769px)and (max-width: 1023px) {
	.columns.is_variable.is_6_tablet-only {
		--columnGap: 1.5rem
	}
}

@media screen and (max-width: 1023px) {
	.columns.is_variable.is_6_touch {
		--columnGap: 1.5rem
	}
}

@media screen and (min-width: 1024px) {
	.columns.is_variable.is_6_desktop {
		--columnGap: 1.5rem
	}
}

@media screen and (min-width: 1024px)and (max-width: 1215px) {
	.columns.is_variable.is_6_desktop-only {
		--columnGap: 1.5rem
	}
}

@media screen and (min-width: 1216px) {
	.columns.is_variable.is_6_widescreen {
		--columnGap: 1.5rem
	}
}

@media screen and (min-width: 1216px)and (max-width: 1407px) {
	.columns.is_variable.is_6_widescreen-only {
		--columnGap: 1.5rem
	}
}

@media screen and (min-width: 1408px) {
	.columns.is_variable.is_6_fullhd {
		--columnGap: 1.5rem
	}
}

@media screen and (max-width: 768px) {
	.columns.is_variable.is_7_mobile {
		--columnGap: 1.75rem
	}
}

@media screen and (min-width: 769px),
print {
	.columns.is_variable.is_7_tablet {
		--columnGap: 1.75rem
	}
}

@media screen and (min-width: 769px)and (max-width: 1023px) {
	.columns.is_variable.is_7_tablet-only {
		--columnGap: 1.75rem
	}
}

@media screen and (max-width: 1023px) {
	.columns.is_variable.is_7_touch {
		--columnGap: 1.75rem
	}
}

@media screen and (min-width: 1024px) {
	.columns.is_variable.is_7_desktop {
		--columnGap: 1.75rem
	}
}

@media screen and (min-width: 1024px)and (max-width: 1215px) {
	.columns.is_variable.is_7_desktop-only {
		--columnGap: 1.75rem
	}
}

@media screen and (min-width: 1216px) {
	.columns.is_variable.is_7_widescreen {
		--columnGap: 1.75rem
	}
}

@media screen and (min-width: 1216px)and (max-width: 1407px) {
	.columns.is_variable.is_7_widescreen-only {
		--columnGap: 1.75rem
	}
}

@media screen and (min-width: 1408px) {
	.columns.is_variable.is_7_fullhd {
		--columnGap: 1.75rem
	}
}

@media screen and (max-width: 768px) {
	.columns.is_variable.is_8_mobile {
		--columnGap: 2rem
	}
}

@media screen and (min-width: 769px),
print {
	.columns.is_variable.is_8_tablet {
		--columnGap: 2rem
	}
}

@media screen and (min-width: 769px)and (max-width: 1023px) {
	.columns.is_variable.is_8_tablet-only {
		--columnGap: 2rem
	}
}

@media screen and (max-width: 1023px) {
	.columns.is_variable.is_8_touch {
		--columnGap: 2rem
	}
}

@media screen and (min-width: 1024px) {
	.columns.is_variable.is_8_desktop {
		--columnGap: 2rem
	}
}

@media screen and (min-width: 1024px)and (max-width: 1215px) {
	.columns.is_variable.is_8_desktop-only {
		--columnGap: 2rem
	}
}

@media screen and (min-width: 1216px) {
	.columns.is_variable.is_8_widescreen {
		--columnGap: 2rem
	}
}

@media screen and (min-width: 1216px)and (max-width: 1407px) {
	.columns.is_variable.is_8_widescreen-only {
		--columnGap: 2rem
	}
}

@media screen and (min-width: 1408px) {
	.columns.is_variable.is_8_fullhd {
		--columnGap: 2rem
	}
}

@media only screen and (max-width: 480px) {
	.is_mobile .is_half_mobile {
		display: block;
		width: 100%
	}

	.is_mobile .desktop-only {
		display: none
	}

	.is_mobile .mobile-only {
		display: block
	}
}

.is_flex {
	display: flex !important
}

@media screen and (max-width: 768px) {
	.is_flex_mobile {
		display: flex !important
	}
}

@media screen and (min-width: 769px),
print {
	.is_flex_tablet {
		display: flex !important
	}
}

@media screen and (min-width: 769px)and (max-width: 1023px) {
	.is_flex_tablet_only {
		display: flex !important
	}
}

@media screen and (max-width: 1023px) {
	.is_flex_touch {
		display: flex !important
	}
}

@media screen and (min-width: 1024px) {
	.is_flex_desktop {
		display: flex !important
	}
}

@media screen and (min-width: 1024px)and (max-width: 1215px) {
	.is_flex_desktop_only {
		display: flex !important
	}
}

@media screen and (min-width: 1216px) {
	.is_flex_widescreen {
		display: flex !important
	}
}

@media screen and (min-width: 1216px)and (max-width: 1407px) {
	.is_flex_widescreen_only {
		display: flex !important
	}
}

@media screen and (min-width: 1408px) {
	.is_flex_fullhd {
		display: flex !important
	}
}


.XDPVd.XDPVd .bX7qB {
	text-transform: capitalize;
	position: absolute;
	top: 25%;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-weight: 600;
	font-size: 1.5rem;
	color: #fff
}

.bfSJK.bfSJK {
	aspect-ratio: unset
}

.bfSJK.bfSJK .NysAs {
	width: 100%;
	height: 100%;
	height: -moz-available;
	height: -webkit-fill-available
}

[data-site-unique-id=MIKEKELLYTOYOTA] .UKqWW,
[data-site-unique-id=PREMIERTOYOTA] .UKqWW,
[data-site-unique-id=TOYOTAOFORANGE] .UKqWW,
[data-site-unique-id=SOUTHCOASTTOYOTAV3] .UKqWW {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #0a0a0a
}

[data-site-unique-id=MIKEKELLYTOYOTA] .UKqWW:hover .h97w_,
[data-site-unique-id=MIKEKELLYTOYOTA] .UKqWW:active .h97w_,
[data-site-unique-id=PREMIERTOYOTA] .UKqWW:hover .h97w_,
[data-site-unique-id=PREMIERTOYOTA] .UKqWW:active .h97w_,
[data-site-unique-id=TOYOTAOFORANGE] .UKqWW:hover .h97w_,
[data-site-unique-id=TOYOTAOFORANGE] .UKqWW:active .h97w_,
[data-site-unique-id=SOUTHCOASTTOYOTAV3] .UKqWW:hover .h97w_,
[data-site-unique-id=SOUTHCOASTTOYOTAV3] .UKqWW:active .h97w_ {
	transform: scale(1.05)
}

.qvh2Z {
	width: 48%
}

@media(max-width: 1024px) {
	.qvh2Z {
		width: 100%;
		order: 2
	}
}


@media(max-width: 1024px) {
	.PJQkk {
		width: 100%;
		padding-left: 0
	}
}

.PJQkk .AtW0L {
	width: 39.833rem;
	height: 37.833rem;
	box-shadow: 2px 2px 12px -2px #0a0a0a;
	margin-right: 4.16px
}

@media(max-width: 1220px) {
	.PJQkk .AtW0L {
		width: 32rem;
		height: 30rem
	}
}

@media(max-width: 1024px) {
	.PJQkk .AtW0L {
		margin: 0 auto;
		order: 1
	}
}

@media(max-width: 880px) {
	.PJQkk .AtW0L {
		width: 100%
	}
}

@media(max-width: 480px) {
	.PJQkk .AtW0L {
		height: 20rem
	}
}



@media(max-width: 600px) {
	.pr4Io {
		display: none
	}
}

.WxF4i {
	padding: 1.5rem
}

@media only screen and (max-width: 767px) {
	.WxF4i {
		padding: 1.5rem 0
	}
}

.WxF4i video {
	width: 100%
}

.WxF4i .mOkNd {
	padding: 2.5rem
}

@media only screen and (max-width: 767px) {
	.WxF4i .mOkNd {
		padding: 2rem
	}
}

.WxF4i .Bz6u8 {
	font-size: 1.375rem;
	text-decoration: underline;
	line-height: 2.25rem
}

.WxF4i ._MbCR {
	margin: 0
}

.WxF4i ._MbCR li {
	line-height: 1.5rem
}

@media only screen and (max-width: 767px) {
	.WxF4i ._MbCR li {
		font-size: 1.125rem
	}
}

.Cj5pz {
	padding: 1rem 2rem
}

@media only screen and (max-width: 880px) {
	.Cj5pz {
		padding: 1rem 0
	}
}

.Cj5pz .cVj5W {
	font-size: 1.5625rem;
	line-height: 2.375rem;
	text-decoration: underline;
	margin-bottom: 1rem
}

.Cj5pz li {
	font-size: 1.125rem;
	line-height: 1.625rem;
	margin-bottom: .3125rem
}

.bVXot {
	width: 100%;
	max-width: 100%;
	position: relative;
	padding-top: 56.25%
}

.bVXot iframe {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%
}

.pTBr7.pTBr7 {
	overflow: hidden;
	margin-block: 0;
	padding: 0;
	margin-top: 3rem
}

.pTBr7.pTBr7[class]:last-child {
	margin-bottom: 2rem
}

.pTBr7.pTBr7 address {
	font-style: normal;
	margin-bottom: .5em;
	text-align: center
}

.pTBr7.pTBr7 address a {
	color: #fff
}

@media(max-width: 1024px) {
	.arlOL {
		display: block !important
	}
}

.cJI3r {
	display: block;
	width: 100%;
	height: 100%;
	border: none
}

@media only screen and (max-width: 768px) {
	.cJI3r {
		min-height: 100vw
	}
}

.iIYjk {
	color: #fff;
	padding: 3rem
}

@media(max-width: 1024px) {
	.iIYjk {
		width: 100% !important
	}
}

@media(max-width: 1024px) {
	.Rp8BL {
		width: 100% !important
	}
}

.JQ56v {
	padding: 2rem 1rem;
	max-width: 100%
}

@media screen and (min-width: 55em) {
	.JQ56v {
		width: 100%;
		margin: 0 auto;
		max-width: 560px
	}
}

.qC8mY {
	margin-bottom: 1rem;
	line-height: 1.25;
	text-transform: uppercase
}

@media screen and (min-width: 55em) {
	.qC8mY {
		font-size: 2rem;
		margin-bottom: 1.5rem
	}
}

.rtCkG+.rtCkG {
	margin-top: 2rem
}

.rtCkG h3 {
	font-weight: normal;
	text-transform: uppercase;
	font-size: 1rem;
	font-family: "CadillacGothicWide", "Cadillac_Sans", "Helvetica Neue", sans-serif;
	margin-bottom: 1rem;
	display: none
}

.rtCkG li {
	font-size: .8rem;
	margin-bottom: .5rem;
	text-transform: uppercase
}


.ioWRH.ioWRH {
	display: inline-flex;
	font-size: .875rem;
	color: #0a0a0a
}

.ioWRH.ioWRH:hover img {
	transform: scale(1.16)
}

.ioWRH.ioWRH:hover .yVsJ_.yVsJ_ {
	background-color: #4a4a4a
}

.ioWRH.ioWRH .yVsJ_.yVsJ_ {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 2.6875rem;
	height: 2.6875rem;
	border-radius: 2.5rem;
	margin-right: .625em;
	background-color: #dbdbdb
}

.ioWRH.ioWRH img {
	margin-right: 0;
	width: 1.125rem;
	height: 1.125rem;
	color: #fff
}

.qzH2S,
.VCYeM {
	font-weight: 500
}

.hXd_j {
	width: 100%;
	gap: 0
}

.hXd_j .SmLkF,
.hXd_j .Bkz9F {
	border-radius: 0
}

.hXd_j div {
	margin: 0
}

.hXd_j .SmLkF {
	border: 1px solid #ced4da;
	color: var(--primary-color);
	box-shadow: inset 0 1px 1px rgba(10, 10, 10, .08);
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.hXd_j .SmLkF:hover,
.hXd_j .SmLkF:focus {
	border-color: #b3b5ba;
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(10, 10, 10, .08), 0 0 0 .2rem rgba(113, 116, 125, .25)
}

.hXd_j .Bkz9F {
	background: #004481
}

.hXd_j .Bkz9F:hover,
.hXd_j .Bkz9F:focus {
	background: #004481;
	box-shadow: inset 0 1px 1px rgba(10, 10, 10, .08), 0 0 0 .2rem rgba(113, 116, 125, .25)
}

.f5JF7 {
	text-decoration: none !important;
	font-size: .85rem
}

.f5JF7 img {
	width: 12.5rem;
	max-width: 100%
}

.f5JF7 p {
	font-size: 1.2rem;
	font-weight: 600
}

.f5JF7 p:first-of-type {
	font-weight: 400;
	font-size: 1rem;
	margin-bottom: .5rem
}

@media only screen and (min-width: 87em) {
	.f5JF7 p:first-of-type {
		font-size: 1.1rem
	}
}

.f5JF7 p strong {
	font-weight: 600
}

.sMBpP a img {
	filter: invert(100%)
}

.cbaJz .QVBnf {
	width: 100%;
	height: auto;
	aspect-ratio: 25/17;
	-o-object-fit: cover;
	object-fit: cover;
	display: block
}

.cbaJz span {
	font-size: 1rem;
	color: #0a0a0a;
	font-weight: 600;
	position: relative;
	margin: auto;
	overflow: hidden;
	letter-spacing: normal;
	width: 100%;
	display: block;
	text-align: center
}

.k3t2f {
	padding: 1rem
}

.bi6N8 {
	line-height: 1.25;
	letter-spacing: .0625em;
	background: #f6f6f6;
	margin: 1rem 0;
	padding: 6.25rem 0
}

@media(max-width: 768px) {
	.bi6N8 {
		margin-bottom: 0;
		padding: 1rem 0;
		text-align: center
	}
}

.rIcb_ {
	max-width: 1440px;
	margin: 0 auto
}

@media only screen and (max-width: 768px) {
	.rIcb_ {
		flex-direction: column-reverse;
		display: flex
	}

	.rIcb_>div {
		width: 100%
	}
}

.xY_Tu {
	position: relative;
	overflow: hidden;
	border-radius: .75rem;
	aspect-ratio: 1;
	display: block;
	background: #000;
	padding: 0 !important
}

.xY_Tu .bfSJK {
	aspect-ratio: 1;
	position: relative;
	overflow: hidden;
	display: block;
	width: 100%;
	opacity: .6
}

.xY_Tu .NysAs {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover
}

.xY_Tu .bX7qB {
	position: absolute;
	z-index: 1;
	bottom: 20%;
	left: 50%;
	min-width: 80%;
	transform: translate(-50%, 0);
	color: #fff;
	text-align: center;
	font-size: 2rem;
	padding: .3em 0;
	border-bottom: 5px solid #36abea;
	text-transform: none
}

.xY_Tu:hover,
.xY_Tu:active {
	background: #000
}

@media only screen and (max-width: 1280px) {
	.xY_Tu .bX7qB {
		font-size: 1.5rem
	}
}

 
.qIxnz {
	padding: .5rem 0;
	color: #7a7a7a;
	text-transform: uppercase;
	font-size: .9375rem;
	font-weight: 400;
	line-height: 1.2;
	letter-spacing: .1rem;
	margin-bottom: 0;
	display: block
}

@media(max-width: 1024px) {
	.qIxnz {
		font-size: .8125rem
	}
}

.Tcv1Y {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: auto;
	padding: 0
}

.Tcv1Y img {
	transition: all .3s ease-out;
	width: 6rem;
	height: 6rem;
	-o-object-fit: contain;
	object-fit: contain;
	-o-object-position: center;
	object-position: center
}

.Tcv1Y:hover img,
.Tcv1Y:active img {
	transform: scale(1.05)
}


.wOP1S .qIxnz {
	display: none
}

.JR4k_ .OVAFC,
.JR4k_ .qIxnz {
	grid-area: 1/2
}

.JR4k_ .Ya17M {
	width: auto;
	height: auto;
	z-index: 1;
	display: block
}

.JR4k_ .qIxnz {
	display: flex;
	justify-content: center;
	color: #fff;
	font-weight: bold;
	z-index: 2
}

.JR4k_._dJyY .qIxnz {
	justify-content: flex-start;
	align-items: flex-end;
	text-align: left;
	padding: .5rem;
	gap: .3125rem
}

.JR4k_.CXA9u .qIxnz {
	justify-content: center;
	align-items: center
}


[data-site-unique-id=CALGARY] .Tcv1Y {
	overflow: hidden;
	padding: 0 5px
}

[data-site-unique-id=CALGARY] .Tcv1Y img {
	width: auto;
	height: auto
}

[data-site-unique-id=CALGARY] .Tcv1Y span:first-child {
	position: relative;
	margin: auto;
	overflow: hidden
}



[data-site-unique-id=CALGARY] .Tcv1Y .qIxnz {
	color: #fff;
	font-size: 2rem;
	line-height: 1;
	font-weight: 600;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 3
}

@media only screen and (max-width: 1024px) {
	[data-site-unique-id=CALGARY] .Tcv1Y .qIxnz {
		font-size: 1.25rem;
		line-height: 1
	}
}


.Cw9QW .qIxnz {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #fff;
	background: rgba(0, 0, 0, .3);
	font-size: 2rem;
	font-weight: bold
}



.RLjkY.RLjkY .qIxnz,
.OBxcI.OBxcI .qIxnz {
	position: absolute;
	z-index: 1;
	bottom: 20%;
	left: 50%;
	min-width: 80%;
	transform: translate(-50%, 0);
	color: #fff;
	text-align: center;
	font-size: 2rem;
	padding: .3em 0;
	border-bottom: 5px solid #c3002f;
	text-transform: none
}
